<!DOCTYPE html>
<html>

<head>
    <title>AVL Team: Phishing URL Checker</title>
    <link rel="stylesheet" href="static/css/index.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
</head>

<body>
    <div id="container">
        <h1>AVL Team: Phishing URL Checker</h1>
        <form id="url_form">
            <label for="url">Enter a URL:</label>
            <input id="check_url" type="text" name="url" placeholder="https://www.example.com">
            <button id="submit_url" type="submit">Check</button>
        </form>

        <div id="result"></div>
    </div>
    <script src="static/js/index.js"></script>
</body>

</html>
